.tooltip{
  position: absolute;
  z-index: 500;
  background: rgba(0,0,0,.6);
  box-shadow: 0 0 0 2px #D9C5B2, 0 0 0 6px rgba(0,0,0,.6);
  padding: .5rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: .875rem;
  max-width: 170px;
  box-sizing: 2px;
  border-radius: 2px;
  top: 0;
  left: 0;
}